* {
    margin: 0px;
    padding: 0px;
    border: 0px
}

@font-face {
    font-family: 'Lato';
    src: url(Lato-Light.ttf)
}

header {
    width: 100%;
    padding-bottom: 1%;
    float: left;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5)
}

main {
    width: 100%;
    float: left;
    font-family: 'Lato', 'Arial Sans'
}

.logo {
    float: left;
    width: 30%;
}

.logo-img {
    width: 60px;
    margin: 2% 0% 0% 40%
}

nav {
    float: left;
    width: 65%;
    margin-top: 7%;
    margin-left: 5%;
    font-family: 'Lato', 'Arial Sans';
    text-transform: uppercase    
}

.nav-link {
    float: left;
    width: auto;
    margin-right: 6%;
    padding: 1% 1%;
    text-align: center
}

.nav-link:hover {
    border-bottom: 2px solid rgb(255, 100, 0)
}

a {
    text-decoration: none;
    color: white
}

.main-section {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.background {
    width: 50%;
    padding: 20% 10% 0% 20%
}

.background-txt {
    color: white;
    width: 100%;
    font-size: 200%;
    font-family: 'Lato', 'Arial Sans';
    text-transform: uppercase
}

#food-delivery {
    margin-top: 5%;
    width: 70%;
    float: left;
    padding: 0% 15%
}

.title {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 200%;
    margin-top: 2%;
    font-family: 'Lato', 'Arial Sans';
    color: #555555;
    text-transform: uppercase
}

.h {
    float: left;
    margin: 2% 10%;
    width: 80%
}

.icon {
    float: left;
    width: 100%;
    text-align: center;
    margin: 2% 0%
}

hr {
    float: left;
    width: 10%;
    height: 2px;
    background-color: rgb(255, 100, 0);
    margin: 2% 45%
}

.txt {
    width: 80%;
    padding: 0% 10%;
    text-align: justify
}

.txt-title {
    width: 80%;
    padding: 0% 10%;
    margin: 5% 0%;
    text-align: center
}

.orange-button {
    float: left;
    width: 10%;
    height: 5%;
    width: 150px;
    height: 30px;
    line-height: 30px;
    border-radius: 100px;
    border: 1px solid rgb(255, 100, 0);
    background-color: rgb(255, 100, 0);
    color: white;
    text-align: center;
    margin: 1% 5% 0% 0%;
}

.orange-button:hover {
    border-color:  #ff7700;
    background-color: #ff7700
}

.button {
    float: left;
    width: 10%;
    height: 5%;
    width: 150px;
    height: 30px;
    line-height: 30px;
    border-radius: 100px;
    border: 1px solid rgb(255, 100, 0);
    color: rgb(255, 100, 0);
    background-color: transparent;
    margin-top: 1%;
    text-align: center
}

.button:hover {
    border-color:  #ff7700;
    background-color: #ff7700
}

.food-img {
    margin-top: 5%;
    width: 100%;
    float: left;
}

.img {
    width: 25%;
    float: left
}

#how-it-works {
    width: 100%;
    float: left;
    padding-top: 5%;
    background-color: #f4f4f4
}

.iphone-img {
    float: left;
    width: 20%;
    margin-left: 25%
}

.how-it-works {
    float: left;
    width: 50%;
}

.marker {
    width: 70%;
    height: 60px;
    margin: 3% 0%
}

.marker-number {
    float: left;
    width: 7%;
    height: 55%;
    margin: 3% 0%;
    border-radius: 100%;
    border: 2px solid rgb(255, 100, 0);
    text-align: center;
    font-size: 150%;
    color: rgb(255, 100, 0);
}

.marker-txt {
    float: left;
    width: 80%;
    margin: 3% 5% 0% 5%;
}

.download-app {
    float: left;
    width: 30%;
    margin-top: 10%
}

#our-cities {
    float: left;
    width: 70%;  
    margin: 5% 0%;
    padding: 0% 15%
}

.city-name{
    float: left;
    width: 100%;
    margin: 5% 0%;
    font-size: 125%
}

.eater-icon {
    float: left;
    width: 15%
}

.eater-txt {
    float: left;
    width: 85%
}

.chef-icon {
    float: left;
    width: 15%
}

.chef-txt {
    float: left;
    width: 85%
}

.twitter-icon {
    float: left;
    width: 15%
}

.twitter-txt {
    float: left;
    width: 85%;
    color: rgb(255, 100, 0)
}

.u{
    float: left;
    width: 100%
}

.comments {
    float: left;
    width: 60%;  
    padding: 3% 20% 0% 20%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/back-customers.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    background-attachment: fixed;
}

.comments-title {
    width: 100%;
    float: left;
    text-align: center;
    color: white;
    font-size: 200%;
    margin-top: 4%;
    font-family: 'Lato', 'Arial Sans';
    text-transform: uppercase
}

.comment {
    color: white;
    padding: 5%;
    text-align: justify
}

.user-photo {
    float: left;
    border-radius: 100%;
    width: 15%
}

.user-name {
    float: left;
    width: 80%;
    margin: 5% 0% 0% 5%;
    color: white
}

.eating-healthy {
    width: 80%;
    padding: 0% 10%;
    margin: 5% 0%;
    float: left;
    background-color: #f4f4f4
}


.plan-title {
    float: left;
    width: 100%;
    padding-bottom: 5%;
    background-color: #fcfcfc
}

.last .plan-title {
    padding-bottom: 18%
}

.plan-name {
    margin: 2% 0% 0% 5%;
    font-size: 150%
}

.price-per-month {
    float: left;
    width: 40%;
    color: rgb(255, 100, 0);
    font-size: 300%;
    margin-top: 5%;
    text-align: right
}
 
.month {
    float: left;
    width: 45%;
    color: rgb(255, 100, 0);
    margin: 19% 5% 0% 2%
}

.price-per-meal {
    float: left;
    width: 100%;
    margin: 5% 0% 0% 5%
}

.about-plan {
    float: left;
    width: 100%;
    background-color: white;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 8% 0%
}

.about-plan-icon {
    float: left;
    width: 10%;
    height: 20px;
    margin: 2% 0% 2% 5%
}

.about-plan-txt {
    float: left;
    width: 78%;
    height: 20px;
    margin: 2% 2% 2% 5%
}

.sign-up-plan {
    float: left;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #e8e8e8
}

.sign-up-now {
    float: left;
    width: 30%;
    margin: 5% 20%;
    padding-top: 3%;
    width: 100px;
    height: 30px;
    line-height: 20px;
    border-radius: 100px;
    border: 1px solid rgb(255, 100, 0);
    color: rgb(255, 100, 0);
    padding-left: 7%
}

.first .sign-up-now {
    float: left;
    width: 30%;
    margin: 5% 20%;
    padding-top: 3%;
    width: 100px;
    height: 30px;
    line-height: 20px;
    border-radius: 100px;
    border: 1px solid rgb(255, 100, 0);
    background-color:  rgb(255, 100, 0);
    color: white;
    padding-left: 7%    
}

.sign-up-now:hover {
    color: white;
    border-color:  #ff7700;
    background-color: #ff7700
}

#sign-up {
    float: left;
    width: 80%;
    padding: 0% 10%;
    margin-bottom: 10%
}

.row {
    width: 90%;
    float: left;
    font-size: 100%;
    padding-left: 10%;
    margin-top: 1%;
    color: #6c6c6c
}

.row-txt {
    margin-top: 1%;
    margin-left: 20%; 
    width: 20%;
    float: left;
    color: #6c6c6c
}

.row-field {
    width: 30%;
    float: left;
}

input, select, textarea {
    width: 100%;
    border: 2px solid #cccccc;
    border-radius: 3px;
    padding: 2% 0% 2% 5%;
    font-family: 'Lato', 'Arial Sans';
    font-size: 100%
}

select {
    width: 107%;
    color: #6c6c6c
}

input[type=checkbox] {
    width: 7%;
    margin: 5% 0%
}

input[type=message] {
    padding-bottom: 15%
}

option {
    color: inherit
}

input[type=submit] {
    width: 10%;
    line-height: 10px;
    border-radius: 100px;
    border: 1px solid rgb(255, 100, 0);
    background-color: rgb(255, 100, 0);
    color: white;
    text-align: center;
    margin: 2% 34% 0% 46%;  
    padding: 1.5% 0%  
}

input[type=submit]:hover {
    border-color:  #ff7700;
    background-color: #ff7700;
}

footer {
    float: left;
    width: 100%;
    background-color: #333333
}

.navigation {
    float: left;
    width: 80%;
    margin: 2% 10%
}

.footer-nav a {
    float: left;
    width: 10%;
    color: #737373;
}

.footer-icon {
    float: right;
    width: 5%;
    margin-left: 2%
}

.footer-icon a img{
    width: 40%
}